<?xml version="1.0" ?>
<robot name="obj_135">
   <mujoco>
      <compiler meshdir="../../meshes/taco/" balanceinertia="true" discardvisual="false"/>
   </mujoco>

   <link name="object">
      <inertial>
         <origin xyz="0 0 0" rpy="0 0 0"/>
         <mass value="0.3"/>
         <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="../../meshes/taco/obj_135_visual.stl" scale="1 1 1"/>
         </geometry>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="../../meshes/taco/obj_135_visual.stl" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>

</robot>
