<?xml version="1.0" ?>
<robot name="laptop">
   <material name="obj_color">
      <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
   </material>

   <mujoco>
      <compiler meshdir="../../meshes/arctic/laptop/" balanceinertia="true" discardvisual="false"/>
   </mujoco>

   <link name="object">
      <inertial>
         <origin xyz="0.08410791367409441 0.0202715256581484 0.0248963730360478" rpy="0.002777582143581941 0.008681208759242947 0.01141552115865579"/>
         <mass value="0.9048766224119441"/>
         <inertia ixx="0.00876146539651752" ixy="-0.0004653772068443166" ixz="-9.006138866453718e-05" iyy="0.01133389859389719" iyz="-2.428998048699039e-06" izz="0.002778948071065965"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="../../meshes/arctic/laptop/mesh_tex_tiny.obj" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="../../meshes/arctic/laptop/mesh_tex_tiny.obj" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>

</robot>
