<?xml version="1.0" ?>
<robot name="microwave">
   <material name="obj_color">
      <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
   </material>

   <mujoco>
      <compiler meshdir="../../meshes/arctic/microwave/" balanceinertia="true" discardvisual="false"/>
   </mujoco>

   <link name="object">
      <inertial>
         <origin xyz="-0.01388002111063888 0.153928998699511 -0.05565604419550656" rpy="0.009602305095953124 0.01649846082415188 0.01654763985318345"/>
         <!-- <mass value="2.340557125725653"/> -->
         <mass value="0.3"/>
         <inertia ixx="0.01538539034209968" ixy="-0.002570831878595432" ixz="-3.479358636578293e-05" iyy="0.01074851784815466" iyz="-0.0001370781132866528" izz="0.01651449758303411"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="../../meshes/arctic/microwave/mesh_tex_tiny.obj" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="../../meshes/arctic/microwave/mesh_tex_tiny.obj" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>

</robot>
