<?xml version="1.0" ?>
<robot name="mixer">
   <material name="obj_color">
      <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
   </material>

   <mujoco>
      <compiler meshdir="../../meshes/arctic/mixer/" balanceinertia="true" discardvisual="false"/>
   </mujoco>

   <link name="object">
      <inertial>
         <origin xyz="-0.05365839842743351 0.02319175774029796 -0.009248111938972445" rpy="0.00131702071842884 0.002440735498276227 0.002736025514173999"/>
         <mass value="0.5896949643710692"/>
         <inertia ixx="0.001543765934130475" ixy="0.0004510005223313524" ixz="-1.191154064024929e-05" iyy="0.002214332959615809" iyz="-4.355848651422951e-06" izz="0.002735682837132782"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="../../meshes/arctic/mixer/mesh_tex_tiny.obj" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="../../meshes/arctic/mixer/mesh_tex_tiny.obj" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>

</robot>
