<?xml version="1.0" ?>
<robot name="notebook">
   <material name="obj_color">
      <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
   </material>

   <mujoco>
      <compiler meshdir="../../meshes/arctic/notebook/" balanceinertia="true" discardvisual="false"/>
   </mujoco>

   <link name="object">
      <inertial>
         <origin xyz="-0.07116873882580603 -0.02328587224423015 -0.0445619200424288" rpy="0.00161676860808749 0.003207507483069488 0.004761072160715508"/>
         <mass value="0.7669728222307014"/>
         <inertia ixx="0.003252682293659042" ixy="-0.0002625873183663082" ixz="-3.483139458165454e-05" iyy="0.004714993215588407" iyz="2.787673935179725e-05" izz="0.001617672742625038"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="../../meshes/arctic/notebook/mesh_tex_tiny.obj" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="../../meshes/arctic/notebook/mesh_tex_tiny.obj" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>

</robot>
