<?xml version="1.0" ?>
<robot name="phone">
   <material name="obj_color">
      <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
   </material>

   <mujoco>
      <compiler meshdir="../../meshes/arctic/phone/" balanceinertia="true" discardvisual="false"/>
   </mujoco>

   <link name="object">
      <inertial>
         <origin xyz="-0.0522109618055157 0.002850914667981544 -0.01582649414614782" rpy="1.38743155721966e-05 4.857747416767114e-05 6.144922005284307e-05"/>
         <mass value="0.05658756509141606"/>
         <inertia ixx="1.5005087288162e-05" ixy="7.24674447489629e-06" ixz="9.110609419241491e-09" iyy="6.031659114603904e-05" iyz="1.553222318442984e-07" izz="4.857933135850975e-05"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="../../meshes/arctic/phone/mesh_tex_tiny.obj" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="../../meshes/arctic/phone/mesh_tex_tiny.obj" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>

</robot>
